.App{
    background-color: #fefefe;
    width: 100;
    margin-top: 150px;
}
body{
    margin: 0;
    
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  